.card {
  background-color: $white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 13px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
.add-post-card {
  margin-top: 40px;
  height: 60px;
  @extend .card;
  &__image {
    @extend .profile-img;
  }
  &__btn {
    width: 82%;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: $grey;
    color: $dark-grey;
    cursor: pointer;
  }
}

//ant modal
.create-post-modal {
  &.center-title {
    .ant-modal-title {
      text-align: center;
    }
  }
  .ant-modal-close {
    right: unset;
  }
  .ant-modal-header {
    border: unset;
    padding: 8px 12px;
  }
  .ant-modal-title {
    background-color: $bg-grey;
    border-bottom: 1px solid $light-grey;
    padding: 7px;
  }
  .ant-modal-body {
    padding: 10px 12px 10px;
  }
  .ant-modal-footer {
    margin: 0px 20px;
  }
  .ant-form-item-explain {
    margin-top: 7px;
  }
}

.smile-icon {
  font-size: 3rem;
  color: #787878;
}
.post-textarea {
  resize: none;
  border: none;
  width: 100%;
  height: 170px;
  padding: 2px;
  margin-top: 8px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $placeholder-grey;
  }
}
.post-btn {
  width: 100%;
  background-color: $light-blue;
  color: $white;
  border-radius: 7px;
  padding: 10px;
  &:disabled {
    background-color: $btn-bg-disabled;
    color: $btn-disabled;
    cursor: unset;
  }
}

.upload-btn {
  background-color: $bg-grey;
  padding: 8px 10px;
  border-radius: 50px;
  margin: 5px;
  font-weight: 600;
  font-size: 13px;
  span {
    &:last-child {
      margin-right: 7px;
    }
  }
}

//post-card

.post-card {
  width: 100%;
  margin: 30px 0;
  @extend .card;
  &__container {
    width: 100%;
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-radius: 4px;
    .post-image {
      img {
        width: 100%;
        height: 350px;
      }
    }
    .post-link {
      background-color: #f4f5f7;
      border-bottom: 1px solid $light-grey;
      width: 100%;
      height: 100%;
      padding: 20px;
      direction: ltr;
      text-align: left;
      cursor: pointer;
      line-height: 1.4;
      &__address {
        text-transform: uppercase;
        color: $dark-grey;
      }
      &__description {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
      }
    }
    .likes-rate {
      padding: 15px 10px;
      margin: 0 10px;
      border-bottom: 1px solid $grey;
    }
    .comment-area {
      padding: 10px;
      text-align: center;
      color: $black;
      font-weight: 500;
      &__button {
        padding: 5px 20px;
        cursor: pointer;
        &.show-reactions {
          position: relative;
          &:hover .container{
           
             
                visibility: visible;
              
            
          }
        }
        &:hover {
          background-color: $bg-hover-grey;
        }
      }
      i {
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }
  &__title {
    margin: 5px 10px;
    .username {
      color: $dark-blue;
      font-weight: 500;
    }
    .date {
      font-size: 10px;
      color: $dark-grey;
    }
  }
  &__image {
    @extend .profile-img;
  }
  &__content {
    direction: ltr;
    text-align: left;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    .tag {
      color: $dark-blue;
      margin: 10px 5px 0 0;
    }
  }
}

.back-arrow{
  top:-45px;
  right: -45px;
  position: relative;
}